@import url("https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Jaro:opsz@6..72&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oxygen:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Istok Web", sans-serif;
  transition: all 0.1s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

section {
  padding: 2rem 7%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 7%;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.header .logo {
  display: flex;
  width: 10%;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
}

.header .logo a {
  color: black;
}

.header .nav-links {
  width: 50%;
}

.header .nav-links a {
  margin: 0 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: black;
  font-weight: 600;
}

.header .nav-links a:hover {
  color: #f27b00;
}

.header .nav-cta {
  width: 50%;
  gap: 40px;
  font-size: 1.5rem;
}

.header .search {
  gap: 10px;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .nav-cta {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .nav-cta img {
  height: 2rem;
}

.header .nav-cta .cta-btn {
  background-color: black;
  color: white;
  padding: 0 2rem;
  border-radius: 20px;
}

.header .nav-cta .cta-btn:hover {
  background-color: #f27b00;
}

/* hero section starts here  */
.hero {
  padding-top: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.hero .hero-left {
  width: 50%;
}

.hero .hero-left h1 {
  font-size: 60px;
  color: #f27b00;
}

.hero .hero-left .span1 {
  color: black;
}

.hero .hero-left .span2 {
  color: #ae004d;
}

.hero .hero-left p {
  font-size: 16px;
  color: black;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 5rem;
}

.hero .hero-left .cta-btn {
  background-color: black;
  color: white;
  padding: 0.4rem 2rem;
  border-radius: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.hero-right {
  width: 50%;
  display: flex;
  gap: 2rem;
  background-image: url(../images/Premium.png);
  background-position: cover;
}

.hero-image1 {
  width: 50%;
  margin-left: 12rem;
}

.hero-image1 .img1 {
  height: 33rem;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.hero-image1 .img2 {
  height: 20rem;
}

.hero-image1 .vector1 {
  position: absolute;
  left: 71rem;
  top: 66rem;
}

.hero-image2 .img1 {
  height: 25rem;
  margin-bottom: 2rem;
}

.hero-image2 .img2 {
  height: 35rem;
}

.hero-image2 .vector {
  position: absolute;
  bottom: 36rem;
  right: 9rem;
}

/* hero section ends here  */

/* destinantion starts from here  */

.title {
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 2.5rem;
}

.title h1 {
  color: #f27b00;
}

.title h1 span {
  color: black;
}

.destination-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 7%;
  background-color: #fff;
  z-index: 1;
}

.destination-header .nav-links {
  width: 80%;
}

.destination-header .nav-links a {
  gap: 5rem;
  margin-left: 6rem;
  font-size: 1.5rem;
  color: black;
  font-weight: 500;
}

.destination-header .nav-links a:hover {
  color: #f27b00;
}

.destination-header .nav-links a:first-child {
  color: #f27b00;
  margin-left: 0;
}

.destination-nav-cta {
  width: 20%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.destination-header .destination-nav-cta a {
  background-color: rgb(6, 5, 5);
  color: white;
  padding: 1rem 2rem;
  border-radius: 20px;
}

.destination-header .destination-nav-cta a:hover {
  background-color: #f27b00;
}

.contents {
  margin-top: 3rem;
  margin-bottom: 8rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 2rem; */
}

.content img {
  height: 42rem;
  margin-bottom: 1rem;
}

.content h3 {
  margin-left: 2rem;
  line-height: 3;
  font-size: 1.5rem;
}

.content p {
  margin-left: 2rem;
  font-size: 1.5rem;
  color: #969595;
}

/* destination ends here  */

/* stories starts from here  */
.stories-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.stories-top h1 {
  font-size: 2.5rem;
}

.stories-top h1 span {
  color: #f27b00;
}

.stories-top {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.stories-top a {
  background-color: rgb(6, 5, 5);
  color: white;
  padding: 1rem 2rem;
  border-radius: 20px;
}

.stories-top a:hover {
  background-color: #f27b00;
}

.stories-all {
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}

.stories-left {
  width: 45%;
}

.stories-left .img1 {
  height: 30rem;
}

.stories-left h4 {
  font-size: 1.6rem;
  color: #969595;
  font-weight: 700;
  line-height: 3;
}

.stories-left h3 {
  /* width: 80%; */
  font-size: 1.5rem;
  font-weight: 700;
}

.stories-left h5 {
  font-size: 1.4rem;
  line-height: 4;
  font-weight: 300;
  color: #969595;
}

.stories-left p {
  font-size: 1.4rem;
  font-weight: 300;
}

.stories-rights {
  width: 55%;
}

.stories-right {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  margin: 2rem 0;
  gap: 2rem;
}

.stories-right img {
  height: 17rem;
}

.stories-right-content h4 {
  font-size: 1.6rem;
  color: #969595;
  font-weight: 700;
  line-height: 4;
}

.stories-right-content h3 {
  /* width: 80%; */
  font-size: 1.5rem;
  font-weight: 700;
}

.stories-right-content h5 {
  font-size: 1.4rem;
  line-height: 4;
  font-weight: 300;
  color: #969595;
}

/* stories ends here  */
